@media( max-width: 1700px){
    .illustration {
        width: 780px;
    }
    .informacoes h1{
        width: 80%;
    font-size: 30px;
    }
    .social{
        bottom: -300px;
    }
    .attribution{
        bottom: -50px;
    }
    .informacoes p{
        width: 80%;
        font-size: 20px;
    }
}
@media( max-width: 1440px){
    .illustration {
        width:700px;
    }
    .informacoes h1{
        width: 90%;
    font-size: 30px;
    }
    .social{
        bottom: -140%;
    }
}
@media( max-width: 1100px){
    .illustration {
        width:600px;
    }
    .informacoes h1{
        width: 90%;
    font-size: 30px;
    }
    .social{
        bottom: -210%;
    }
    .attribution{
        bottom: -140px;
    }
}
@media( max-width: 375px){
    body{
        background-image: url(../images/bg-mobile.svg);
    }
    .container{
        grid-template-areas: "logo_illustration"
                             "informacoes"
                             "social";
    }
    .logo{
        width: 150px;
        padding-bottom: 50px;
    }
    .illustration {
        width: 300px;
        margin-bottom: -20px;
    }
    .informacoes{
        padding-left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .informacoes h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-bottom: -5px;
    }
    .informacoes p{
        width: 100%;
        font-size: 15px;
        text-align: center;
        margin-bottom: 15px;
    }
    .informacoes button{
        align-content: center;
    }
    .social{
        left: 0;
        justify-content: center;
    }
    .social img{
        width: 30px;
    }
    .attribution{
        bottom: -100px;
    }
    .attribution{
        font-size: 10px;
        bottom: -150px;
    }
    
}
